In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('imdb_movie_data.csv')

In [4]:
df.shape

(1000, 12)

In [5]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [7]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [8]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [9]:
df.rename(columns={
    'Revenue (Millions)': 'Revenue_Millions',
    'Runtime (Minutes)': 'Runtime'
}, inplace=True)

In [10]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime', 'Rating', 'Votes', 'Revenue_Millions', 'Metascore'],
      dtype='object')

In [11]:
df.columns = [col.lower() for col in df]

In [12]:
df.columns

Index(['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime', 'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [14]:
df.isnull().sum()

rank                  0
title                 0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

In [19]:
newdf = df.dropna(axis=1)

In [20]:
newdf.isnull().sum()

rank           0
title          0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
dtype: int64

In [21]:
newdf.shape

(1000, 10)

In [22]:
df.shape

(1000, 12)

In [27]:
revenue = df['revenue_millions']

In [28]:
revenue

0      333.13
1      126.46
2      138.12
3      270.32
4      325.02
        ...
995       NaN
996     17.54
997     58.01
998       NaN
999     19.64
Name: revenue_millions, Length: 1000, dtype: float64

In [30]:
revenue_avg = revenue.mean()
revenue_avg

82.95637614678898

In [31]:
df['revenue_millions'].fillna(revenue_avg, inplace=True)

In [32]:
df.isnull().sum()

rank                 0
title                0
genre                0
description          0
director             0
actors               0
year                 0
runtime              0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

In [33]:
df['genre'].value_counts()

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
                           ..
Action,Comedy,Family        1
Action,Crime,Fantasy        1
Comedy,Mystery              1
Adventure,Comedy,Horror     1
Comedy,Family,Fantasy       1
Name: genre, Length: 207, dtype: int64

In [34]:
df['year'].value_counts()

2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: year, dtype: int64

In [35]:
df.corr()

/var/folders/3q/c3scs9pj6jddvd8kr62_g0280000gn/T/ipykernel_3375/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,rank,year,runtime,rating,votes,revenue_millions,metascore
rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.252996,-0.191869
year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.117562,-0.079305
runtime,-0.221739,-0.164900,1.000000,0.392214,0.407062,0.247834,0.211978
rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.189527,0.631897
votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.607941,0.325684
revenue_millions,-0.252996,-0.117562,0.247834,0.189527,0.607941,1.000000,0.133328
metascore,-0.191869,-0.079305,0.211978,0.631897,0.325684,0.133328,1.000000

In [36]:
%history

import pandas as pd
import numpy as np
df = pd.read_csv('imdb_movie_data.csv')
df
df.shape
df.head()
df.info()
df.describe()
df.columns
df.rename(columns={
    'Revenue (Millions)': 'Revenue_Millions',
    'Runtime (Minutes)': 'Runtime'
}, inplace=True)
df.columns
df.columns = [col.lower() for col in df]
df.columns
df.isnull()
df.isnull().sum()
newdf = df.dropna()
newdf.isnull().sum()
newdf.shape
df.shape
newdf = df.dropna(axis=1)
newdf.isnull().sum()
newdf.shape
df.shape
revenue = df['revenue_millions']
revenue
revenue = df[['revenue_millions']]
revenue
revenue = df['revenue_millions']
revenue
revenue_avg = revenue.mean()
revenue_avg = revenue.mean()
revenue_avg
df['revenue_millions'].fillna(revenue_avg, inplace=True)
df.isnull().sum()
df['genre'].value_counts()
df['year'].value_counts()
df.corr()
%history

# Title
Here we can put **some comments*