In [2]:
import pandas as pd
df = pd.read_csv('data/train.tsv', sep='\t')

In [3]:
df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [4]:
num_df = df[['item_condition_id', 'price', 'shipping']]

In [5]:
num_df.head()

   item_condition_id  price  shipping
0                  3   10.0         1
1                  3   52.0         0
2                  1   10.0         1
3                  1   35.0         1
4                  1   44.0         0

In [6]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
scaled_list = scaler.fit_transform(num_df)

In [10]:
scaled_list

array([[ 1.20977658, -0.43377114,  1.11164915],
       [ 1.20977658,  0.65470505, -0.8995644 ],
       [-1.00467469, -0.43377114,  1.11164915],
       ...,
       [ 0.10255095, -0.38193894, -0.8995644 ],
       [ 1.20977658,  0.47329235,  1.11164915],
       [-1.00467469, -0.12277794, -0.8995644 ]])

In [12]:
scaled_df = pd.DataFrame(scaled_list, columns=['item_condition_id', 'price', 'shipping'])

In [13]:
scaled_df.head()

   item_condition_id     price  shipping
0           1.209777 -0.433771  1.111649
1           1.209777  0.654705 -0.899564
2          -1.004675 -0.433771  1.111649
3          -1.004675  0.214131  1.111649
4          -1.004675  0.447376 -0.899564

In [14]:
df['brand_id'] = df['brand_name']

In [15]:
df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,brand_id
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet,NaN
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...,Razer
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...,Target
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...,NaN
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity,NaN

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [19]:
le.fit(df['brand_id'])
brands_list = le.transform(df['brand_id'])

In [20]:
brands_list

array([4809, 3557, 4180, ..., 4809, 4809, 4809])